{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <header class="bg-primary-gradient pt-6"><!-- Start: Hero Clean Reverse -->
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="text-center pb-5"><h4 class="fw-bold text-dark mb-2"><strong>Semester
                        Register</strong><br>
                    </h4></div>
                    <div class="text-center pb-5">
                        <form action="" method="post">{% csrf_token %}
                            <div class="pb-2"><input class="form-control w-50 d-inline-block" type="text"
                                                     name="semester"
                                                     placeholder="Name"></div>
                            <div class="pb-3"><input class="form-control w-50 d-inline-block" type="text"
                                                     name="credit_rate"
                                                     placeholder="Credit Rate (TK)"></div>
                            <div>
                                <button class="btn btn-primary shadow indx-btn w-15" type="submit" name="submit">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- End: Hero Clean Reverse --></header>
{% endblock %}