<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>
<body style="background-position: 0 -60px;">
<!-- Start: Navbar Centered Links -->
<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="dashboard_std.html"><img
            class="nav-logo" src="assets/img/ewu.png"></a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link nav-txt" href="homepage.html">Home</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link nav-txt" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#">Student</a>
                    <div class="dropdown-menu dp-menu-bg"><a class="dropdown-item" href="drop_withdraw.html">Student
                        Register</a><a class="dropdown-item" href="#">Student List</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link nav-txt" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#">Faculty</a>
                    <div class="dropdown-menu dp-menu-bg"><a class="dropdown-item" href="drop_withdraw.html">Faculty
                        Register</a><a class="dropdown-item" href="#">Faculty List</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link nav-txt" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#">Department</a>
                    <div class="dropdown-menu dp-menu-bg"><a class="dropdown-item" href="drop_withdraw.html">Department
                        Register</a><a class="dropdown-item" href="#">Department List</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link nav-txt" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#">Semester</a>
                    <div class="dropdown-menu dp-menu-bg"><a class="dropdown-item" href="drop_withdraw.html">Semester
                        Register</a><a class="dropdown-item" href="#">Semester List</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link nav-txt" aria-expanded="false"
                                                 data-bs-toggle="dropdown" href="#">Course</a>
                    <div class="dropdown-menu dp-menu-bg"><a class="dropdown-item" href="drop_withdraw.html">Course
                        Register</a><a class="dropdown-item" href="#">Course List</a></div>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto align-items-center">
                <li class="nav-item">
                    <div class="nav-item dropdown"><a aria-expanded="false" data-bs-toggle="dropdown" class="nav-txt"
                                                      href="#">Asif Mahmud</a>
                        <div class="dropdown-menu dp-menu-bg"><a class="dropdown-item" href="#"><i
                                class="far fa-user pe-2"></i>Profile</a>
                            <hr>
                            <a class="dropdown-item" href="homepage.html"><i class="fas fa-sign-out-alt pe-2"></i>Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav><!-- End: Navbar Centered Links -->

<header class="bg-primary-gradient pt-5"><!-- Start: 1 Row 1 Column -->
    <div class="container pt-6">
        <div class="row">
            <div class="col-md-12"><p class="mb-4 dash-std-p text-center pt-3">Notice:&nbsp;<span
                    class="bg-success-light dash-id-bg p-1"><strong>20% Waiver on the Tuition Fee from Spring Semester 2022 - Fall Semester 2023</strong></span>
            </p></div>
        </div>
    </div><!-- End: 1 Row 1 Column --><!-- Start: Hero Clean Reverse -->
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center pb-5"><h4 class="fw-bold text-success mb-2"><strong>Welcome</strong><br></h4><h5
                        class="fw-bold">Asif Mahmud&nbsp;</h5></div>
            </div>
        </div>
    </div><!-- End: Hero Clean Reverse --></header>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/script.min.js"></script>
</body>
</html>