{% extends 'home/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    <header class="bg-primary-gradient pt-6"><!-- Start: Hero Clean Reverse -->
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="text-center pb-5"><h4 class="fw-bold text-dark mb-2"><strong>Semester List</strong><br>
                    </h4></div>
                    <div class="text-center pb-5">
                        {% if sem %}
                            <table class="table table-hover text-center">
                                <tr>
                                    <th>No</th>
                                    <th>Semester</th>
                                    <th>Credit Rate</th>
                                </tr>
                                {% for s in sem %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ s.semester }}</td>
                                        <td>{{ s.credit_rate }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                            <br><br>
                            <h4>0 Result</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><!-- End: Hero Clean Reverse --></header>
{% endblock %}